<div class="jumbotron my-4">
  <h1 class="display-4 text-center">Happy Timeline</h1>
  <p class="lead text-center">お祝いメッセージをタイムライン形式で気軽に寄せよう！</p>
  <img src="https://1.bp.blogspot.com/-BLqS_8JogfI/Vq883T2PTUI/AAAAAAAA3gg/Sphq9LUUzHI/s800/shikishi_yosegaki.png" class="mx-auto d-block" width="180">
  <hr class="my-4">
  <p class="text-center">ご結婚、ご出産、お誕生日、ご入学、ご卒業などのシーンで、遠方の方からも、メッセージを集めてお贈りしましょう！</p>
  <%= link_to 'はじめる', new_timeline_path, class: 'btn btn-primary btn-lg my-3 mx-auto d-block', style: "width: 200px;" %>
</div>

<div class="h3 text-center my-4">Happy Timeline の使い方は</div>
<div class="h1 text-center my-4">簡単！３ステップ！</div>
<div class="row my-2">

  <div class="col-md py-2">
    <div class="card border-secondary mb-3">
      <div class="card-header">① 初期設定と周知</div>
      <div class="card-body text-secondary">
        <h4 class="card-title">幹事はあなたです！</h4>
        <p class="card-text">ユーザ登録を行い、新しいタイムラインを作成しましょう。タイトルなどの設定を行い、専用URLを皆さんにSNSなどでシェアしましょう。</p>
      </div>
    </div>
  </div>
  <div class="col-md py-2">
    <div class="card border-secondary mb-3">
      <div class="card-header">② 皆さんのメッセージの投稿</div>
      <div class="card-body text-secondary">
        <h4 class="card-title">メッセージを寄せよう！</h4>
        <p class="card-text">専用URLでは、ログイン不要でメッセージを投稿できます。お祝いの言葉を集めましょう。幹事は各メッセージの編集と削除の権限があります。</p>
      </div>
    </div>
  </div>
  <div class="col-md py-2">
    <div class="card border-secondary mb-3">
      <div class="card-header">③ 編集ロックとご送付</div>
      <div class="card-body text-secondary">
        <h4 class="card-title">Happy Timelineを贈ろう！</h4>
        <p class="card-text">マイページから編集ロックをかけると、タイムラインの送付準備が整います。専用URLを送信し、お祝いメッセージを届けましょう。</p>
      </div>
    </div>
  </div>

</div>
