<div class="jumbotron my-4">
  <h1 class="display-4 text-center">Happy Timeline</h1>
  <p class="lead text-center">これは p class="lead" のテキスト</p>
  <hr class="my-4">
  <p class="text-center">これは p のテキスト。画像いれる？</p>
  <a class="btn btn-primary btn-lg mx-auto d-block" href="#" role="button" style="width: 100px;">ボタン</a>
</div>
<div class="row my-4">
  <div class="col-sm bg-primary py-5">
    <p class="text-center">これは p のテキスト1</p>
  </div>
  <div class="col-sm bg-success py-5">
    <p class="text-center">これは p のテキスト2</p>
  </div>
  <div class="col-sm bg-info py-5">
    <p class="text-center">これは p のテキスト3</p>
  </div>
</div>
<div class="my-4">
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
  <p class="text-center">テキストテキスト</p>
</div>
