<div class="row justify-content-center">
  <div class="col-lg-7">

    <h1 class="text-center mt-3">新しいタイムラインをつくる</h1>
    <hr>
    <p class="text-muted text-center my-4">お祝いメッセージを投稿するタイムラインの初期設定を行います</p>

    <div class="border border-light rounded p-3">
      <%= render 'form' %>
    </div>

  </div>
</div>
