// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 5em;
}

footer {
  bottom: 0;
  height: 4em;
  position: absolute;
  width: 100%;
  border-color: #d7d7d7;
  border-width: 1px 0 0;
  margin-top: 2em;
}

.radio {
	display: none;
}

.radio + .radio_image {
	border: 1px #dddddd solid;
	background-color: #ffffff;
}
.radio:checked + .radio_image {
	border: 1px #007bff solid;
	background-color: #eef6ff;
}
